/* --- Contact Section --- */
.contact-info {
    text-align: center;
    margin-bottom: 50px;
}

.contact-info p {
    font-size: 1.3em;
    margin-bottom: 15px;
    color: var(--text-light);
}

.contact-info p i {
    color: var(--primary-color);
    margin-right: 10px;
    font-size: 1.2em;
}
